#<IfModule mod_rewrite.c>
#    Options +FollowSymlinks
#    RewriteEngine On
#    RewriteCond %{QUERY_STRING} /?.*admin$
#    RewriteRule /?(.*) $1 [QSA]
#</IfModule>
##/?controller=pages&action=admin