.header {
  height: 100px;
  background-color: rgba(0, 3, 15, 0.70);
  .container {
    .menu {
      a {
        display: block;
        float: left;
        text-align: center;
        vertical-align: middle;
        padding: 10px !important;
        margin: 0px;
        height: 80%;
        padding-top: 25px !important;
        color: #fff;
        &:hover, &:active, &:focus{
          background: #257cab;
          text-decoration: none;
        }
      }
    }
  }
  .logo{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #fff;
  }
}
.mini-header{
  color: #fff;
  background-color: rgba(0, 3, 15, 0.85);
}